<div class="container-fluid">
  <h1>Course Navigator</h1>

  <div class="row">
    <div class="col-3">
      <ul class="list-group">
        <li class="list-group-item active">Courses</li>
        <li (click)="selectCourse(course)"
            class="list-group-item"
            *ngFor="let course of courses"
            [ngClass]="{'active':course.id == selectedCourse.id}" >
          {{course.title}}
        </li>
      </ul>
    </div>

    <div class="col-3">
      <ul class="list-group">
        <li class="list-group-item active">Modules</li>
        <li class="list-group-item"
            *ngFor="let module of modules"
            (click)="selectModule(module)"
            [ngClass] = "{'active': module.id == selectedModule.id}">{{module.title}}
        </li>
      </ul>
    </div>
    <div class="col-3">
      <ul class="list-group">
        <li class="list-group-item active">Lessons</li>
        <li class="list-group-item"
            *ngFor="let lesson of lessons"
            (click)="selectLesson(lesson)"
            [ngClass] = "{'active': lesson.id == selectedLesson.id}"
            >{{lesson.title}}
        </li>
      </ul>
    </div>
    <div class="col-3">
      <ul class="list-group">
        <li class="list-group-item active">Topics</li>
        <li class="list-group-item"
            *ngFor="let topic of topics"
        >{{topic.title}}
        </li>
      </ul>
    </div>
  </div>


</div>
