<nav class="navbar navbar-expand-lg navbar-light" style="background-color: purple">
  <a class="navbar-brand" href="#"
     style="color: wheat;
     font-family: 'Comic Sans MS';
      font-size: x-large">WhiteBoard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo" aria-controls="navbarTogglerDemo"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link"
           style="color: wheat"
           routerLink="/home">Home</a>
      </li>
      <li class="nav-item active disabled" [hidden]=!loginVal>
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item" [hidden]=!loginVal>
        <a class="nav-link" [hidden]=!admin
           style="color: wheat"
           routerLink="/admin">Admin</a>
      </li>
      <li class="nav-item active disabled" [hidden]=!loginVal>
        <a class="nav-link" routerLink="/quizzes">Quiz</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">-->
    <form [hidden]=!loginVal
          class="form-inline mt-2 mt-md-0">
      <span class="navbar-text">
        Logged in as : </span>
      <span style="color: dimgrey; font-weight: bold">&nbsp;{{username}}
      </span>
      &nbsp;&nbsp;
      <button class="btn btn-outline-primary my-2 my-sm-0"
              (click)="logout()">Logout
      </button>
    </form>

    <form [hidden]=loginVal
          class="form-inline mt-2 mt-md-0">

      <button class="btn btn-outline-light my-2 my-sm-0 mr-2"
              style="color: wheat"
              routerLink="/login">&nbsp;Login&nbsp;
      </button>

      <button class="btn btn-outline-light my-2 my-sm-0"
              style="color: wheat"
              routerLink="/register">Register
      </button>
    </form>
  </div>
</nav>


<div class="container-fluid">
  <div class="form-row">
    <h3 class="col col-sm-9"> Quiz Submissions</h3>
    <input class="col col-sm-3 float-right"
           placeholder="search by UserName"
           [(ngModel)]="search"
           *ngIf="userRole==='ADMIN'"/>
  </div>

  <ul class="list-group rounded ">
    <li class="list-group-item shadow bg-light">
      <div class="form-row">
      <h5 class="float-left col col-sm-3 "> Quiz Title </h5>
      <h5 class="col col-sm-4">Submission Date</h5>
      <h5 class="col col-sm-2" *ngIf="userRole==='ADMIN'">Submitted By</h5>
      <h5 class="col col-sm-1">Grade</h5>
      <h5 class="col col-sm-2 float-right">Answer Link</h5>
      </div>
    </li>

    <div *ngFor="let quizSub of quizSubmissions">
    <li class="list-group-item shadow bg-light" >
        <!--*ngIf="quizSub.student.username === search || search === ''"-->
      <div class="form-row">
        <span class="float-left col col-sm-3"> {{quizSub.quiz.title}} </span>

        <span class="col col-sm-4">
            {{quizSub.submissionDate}}</span>
        <span class="col col-sm-2" *ngIf="userRole==='ADMIN'">{{quizSub.student.username}}</span>
        <span class="col col-sm-1">{{quizSub.grade}}/{{quizSub.maximum}}</span>
        <span class=" col col-sm-2 float-right">
        <a href="/quiz/{{quizId}}/submission/{{quizSub._id}}">View Answers</a></span>
      </div>
    </li>
    </div>
  </ul>
</div>
