<div class="container-fluid">
<h4>
  <!--Course Grid {{courses.length}}-->
  Available Courses
</h4>

<div class="row">
  <div class="col-sm-3" *ngFor = "let course of courses">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <p class="card-text"></p>
        <a routerLink="/course/{{course.id}}" class="btn btn-secondary my-2 my-sm-0 mr-2">See Course Content</a>
        <a routerLink="/course/{{course.id}}/section" class="btn btn-success my-2 my-sm-0 mr-2">Enroll</a>
      </div>
    </div>
  </div>
</div>

</div>
